
/* ===== Section Background ===== */
.contact-section {
  padding: 90px 0;
  background: linear-gradient(135deg, var(--main) 0%, var(--blue) 50%);
  color: #fff;
  border-radius: 30px 30px 0 0;

}

.contact-title {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

/* ===== Layout ===== */
.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

/* ========== Contact Info ========== */
.contact-info {
  flex: 1;
  min-width: 290px;
}

.contact-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  margin-bottom: 15px;
}

.info-item i {
  font-size: 20px;
  color: #fff;
}

.info-social a {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 8px;
  color: #fff;
  transition: .3s;
}

.info-social a:hover {
  background: #fff;
  color: var(--blue);
}

/* ========== FORM ========== */
.contact-form {
  flex: 1;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  background: rgba(255,255,255,0.2);
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #eee;
}

.contact-btn {
  background: #fff;
  color: var(--blue);
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

.contact-btn:hover {
  background: var(--main);
  color: #fff;
}

/* ===== Responsive ===== */
@media(max-width: 768px){
  .contact-wrapper {
    text-align: center;
  }
  .info-item {
    justify-content: center;
  }
  .info-social {
    text-align: center;
  }
}




