<section class="contact-section">

  <div class="contact-container container">

    <h2 class="title text-white">تواصل معنا</h2>

    <div class="contact-wrapper">

      <div class="contact-info">
        <h3>معلومات الاتصال</h3>

        <div class="info-item">
          <i class="fa-solid fa-location-dot"></i>
          <span>جدة – المملكة العربية السعودية</span>
        </div>

        <div class="info-item">
          <i class="fa-solid fa-phone"></i>
          <span>+966 500 000 000</span>
        </div>

        <div class="info-item">
          <i class="fa-solid fa-envelope"></i>
          <span>infocompany.com</span>
        </div>

        <div class="info-social">
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>

      <form class="contact-form">
        <input type="text" placeholder="الاسم الكامل" required>
        <input type="email" placeholder="البريد الإلكتروني" required>
        <input type="text" placeholder="رقم الجوال" required>
        <textarea placeholder="رسالتك" rows="4" required></textarea>

        <button type="submit" class="contact-btn">إرسال</button>
      </form>

    </div>

  </div>

</section>












