<section class="contact-section">

  <div class="contact-container container">

    <h2 class="title text-white">{{"CONTACT.TITLE" | translate}}</h2>

    <div class="contact-wrapper">

      <div class="contact-info">
        <h3>{{"CONTACT.FORM.TITLE" | translate}}</h3>

        <div class="info-item">
          <i class="fa-solid fa-location-dot"></i>
          <span>{{"FOOTER.CONTACT.LOCATION" |translate}}</span>
        </div>

        <div class="info-item">
          <i class="fa-solid fa-phone"></i>
          <span>966555846094+</span>
        </div>

        <div class="info-item">
          <i class="fa-solid fa-envelope"></i>
          <span>jusur321&#64;gmail.com</span>
        </div>
      </div>

      <form class="contact-form">
        <input type="text" [attr.placeholder]="'CONTACT.FORM.NAME' | translate" required>
        <input type="email" [attr.placeholder]="'CONTACT.FORM.EMAIL' | translate" required>
        <input type="text" [attr.placeholder]="'CONTACT.FORM.PHONE' | translate" required>
        <textarea [attr.placeholder]="'CONTACT.FORM.MESSAGE' | translate" rows="4" required></textarea>

        <button type="submit" class="contact-btn">{{"CONTACT.FORM.SEND" | translate}}</button>
      </form>

    </div>

  </div>

</section>












