<section class="projects-types modern">
  <div class="container">

    <h2 class="section-title">{{"PROJECT_FIELDS.TITLE" | translate}} </h2>

    <div class="projects-grid">

      <div class="project-card modern" routerLink="/Contracting">
        <h3>{{"PROJECT_FIELDS.GENERAL_CONTRACTING.TITLE" | translate}}</h3>

        <button class="project-btn">
          {{ "PROJECT_FIELDS.GENERAL_CONTRACTING.BUTTON" | translate }}
        </button>
      </div>

      <div class="project-card modern" routerLink="/Security-Projects">
        <h3>{{"PROJECT_FIELDS.SECURITY_SAFETY.TITLE" | translate}} </h3>

        <button class="project-btn" routerLink="/Security-Projects">
          {{"PROJECT_FIELDS.SECURITY_SAFETY.BUTTON" | translate}}
        </button>
      </div>


      <div class="project-card modern" routerLink="/Shopping-Center">
        <h3> {{"PROJECT_FIELDS.CENTER_MANAGEMENT.TITLE" | translate}} </h3>

        <button class="project-btn">
         {{"PROJECT_FIELDS.CENTER_MANAGEMENT.BUTTON" | translate}} 
        </button>
      </div>

    </div>
  </div>
</section>

<router-outlet></router-outlet>