<section class="news-feature ">
  <h2 class="title">{{"NEWS.TITLE" | translate}}</h2>
  <div class="swiper mySwiper2">
    <div class="swiper-wrapper">



      @for(new of news ; track $index){
      <div class="swiper-slide">
        <div class="container">
          <div class="news-img">
            <img [src]="url + new.imagePaths[0]">

          </div>

          <div class="news-content">

            <h2 class="news-title">{{lang == "ar" ? new.arTitle : new.enTitle}}</h2>

            <p class="news-text">
              {{lang == "ar" ? new.arDescription : new.enDescription}}
            </p>

          </div>
        </div>
      </div>

      }

    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>