

<section class="news-feature ">
  <h2 class="title">الأخبار</h2>
    <div class="container">
          <div class="news-img">
  <img src="assets/house.webp">
   
  </div>

  <div class="news-content">
    <span class="news-label">خبر جديد</span>

    <h2 class="news-title">افتتاح المرحلة الجديدة لمشروع الواجهة البحرية</h2>

    <p class="news-text">
      أعلنت الشركة عن إطلاق المرحلة الثانية من مشروع الواجهة البحرية، والتي تشمل وحدات سكنية عصرية،
      ومساحات خضراء، ومرافق متكاملة، ضمن خطة التطوير المستمر للمنطقة الشمالية من جدة.
    </p>

  </div>
    </div>
</section>

