<!-- <div class="news-feature">
  <img src="../../../../../../assets/house.webp">
  
  <div class="nf-content">
    <h3>تطورات مشروع الواجهة البحرية</h3>
    <p>قامت الشركة ببدء الأعمال الإنشائية للمرحلة الجديدة والتي ستوفر وحدات سكنية راقية...</p>
    <a href="#" class="nf-btn">المزيد</a>
  </div>
</div> -->

<section class="news-feature ">
    <div class="container">
          <div class="news-img">
  <img src="../../../../../../assets/house.webp">
   
  </div>

  <div class="news-content">
    <span class="news-label">خبر جديد</span>

    <h2 class="news-title">افتتاح المرحلة الجديدة لمشروع الواجهة البحرية</h2>

    <p class="news-text">
      أعلنت الشركة عن إطلاق المرحلة الثانية من مشروع الواجهة البحرية، والتي تشمل وحدات سكنية عصرية،
      ومساحات خضراء، ومرافق متكاملة، ضمن خطة التطوير المستمر للمنطقة الشمالية من جدة.
    </p>

    <a href="#" class="news-btn">قراءة المزيد</a>
  </div>
    </div>
</section>

