<div class="bg-white cont" id="services">
  <section class="services-section container">

    <h2 class="title">{{'SERVICES.TITLE' |translate}}</h2>

    <div class="services-wrapper">

      @for(service of services ; track $index; let i = $index){
      <div class="service-card">
        <div class="card-header">
          <h3 class="card-title ">{{lang == 'ar' ? service.arTitle : service.enTitle}}</h3>
          <div class="icon-circle">
            <i [class]="icons[i]"></i>
          </div>
        </div>
        <p class="gradient-text">{{lang == 'ar' ? service.arDescription : service.enDescription}}</p>
      </div>
      }


    </div>
  </section>
</div>