<section class="values-section container">

  @if (false) {
  <h2 class="values-title">قيمنا</h2>
  }

  <div class="values-wrapper">

    <div class="value-card">
      <i class="fa-solid fa-lightbulb value-icon"></i>
      <p>{{'VALUES.INNOVATION' |translate}}</p>
    </div>

    <div class="value-card">
      <i class="fa-solid fa-award value-icon"></i>
      <p>{{'VALUES.QUALITY' |translate}}</p>
    </div>

    <div class="value-card">
      <i class="fa-solid fa-handshake value-icon"></i>
      <p>{{'VALUES.Customer' |translate}}</p>

    </div>

    <div class="value-card">
      <i class="fa-solid fa-leaf value-icon"></i>
      <p>{{'VALUES.Environmental' |translate}}</p>

    </div>

    <div class="value-card">
      <i class="fa-solid fa-eye value-icon"></i>
      <p>{{'VALUES.Clarity' |translate}}</p>

    </div>

  </div>

</section>