<section class="values-section container">

  @if (false) {
    <h2 class="values-title">قيمنا</h2>
  }

  <div class="values-wrapper">

    <div class="value-card">
      <i class="fa-solid fa-lightbulb value-icon"></i>
      <p>الابتكار والتطوير</p>
    </div>

    <div class="value-card">
      <i class="fa-solid fa-award value-icon"></i>
      <p>الجودة والاحترافية</p>
    </div>

    <div class="value-card">
      <i class="fa-solid fa-handshake value-icon"></i>
      <p>رضا العميل</p>
    </div>

    <div class="value-card">
      <i class="fa-solid fa-leaf value-icon"></i>
      <p>الاستدامة البيئية</p>
    </div>

    <div class="value-card">
      <i class="fa-solid fa-eye value-icon"></i>
      <p>الشفافية والوضوح</p>
    </div>

  </div>

</section>
