<section class="bg-white">
    <app-header></app-header>
    <div class="projects_title">
        <h1>{{lang == 'ar' ? currentType.arName : currentType.enName}}</h1>
    </div>

    <div class="container ">
        <div class="row gy-4 p-80">
            @if(projects.length !== 0){
            @for(project of projects ; track project.id){
            <div class="col-lg-4 col-sm-6 col-12">
                <app-card [project]="project"></app-card>
            </div>
            }
            }@else {
                <h1 class="text-center my-5">{{"categories.empty" | translate}}</h1>
            }
        </div>
    </div>
    <app-footer></app-footer>
</section>