:root {
  --main:#788DA8;
  --blue:#132539;
  --sec:#101928;
  --light:#f5f7fa;
}

/* Section wrapper */
.clean-features {
  padding: 80px 10px;
}
.lay{
        background: #00000069;
    position: absolute;
    width: 100%;
    height: 110%;
    left: 0;
    top: 0;
    z-index: -1;
}

/* Cards container */
.features-wrapper {
  display: flex;
  gap: 20px 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Single Card */
.clean-card {
    border-radius: 10px;
    overflow: hidden;
  width: 24%;
  background: #fff;
  border: none;
  box-shadow: 0 8px 25px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  transition: .25s ease;
  
}

.clean-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 32px rgba(0,0,0,0.1);
  border-bottom-color: var(--main);
}

/* Header (dark background) */
.card-header-dark {
  background: var(--blue);
  color: #fff;
  padding: 18px 22px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: .3px;
  border-bottom: 3px solid var(--main);
  text-align: center;
}

/* Body */
.card-body {
  background: var(--light);
  padding: 22px;
}

.card-body p {
  margin: 0;
  color: #333;
  line-height: 1.9;
  font-size: 15px;
}

/* Responsive */
@media(max-width: 992px){
  .clean-card { width: 48%; }
}

@media(max-width: 600px){
  .clean-card { width: 100%; }
}
