<div class="position-relative">
  <div class="lay"></div>
  <section class="clean-features container">

    <div class="features-wrapper">

      <div class="clean-card">
        <div class="card-header-dark">
          {{ 'FEATURES.VARIETY.TITLE' | translate }}
        </div>
        <div class="card-body">
          <p>
            {{ 'FEATURES.VARIETY.DESC' | translate }}
          </p>
        </div>
      </div>

      <div class="clean-card">
        <div class="card-header-dark">
          {{ 'FEATURES.DESIGN.TITLE' | translate }}
        </div>
        <div class="card-body">
          <p>
            {{ 'FEATURES.DESIGN.DESC' | translate }}
          </p>
        </div>
      </div>

      <div class="clean-card">
        <div class="card-header-dark">
          {{ 'FEATURES.AFTER_SALES.TITLE' | translate }}
        </div>
        <div class="card-body">
          <p>
            {{ 'FEATURES.AFTER_SALES.DESC' | translate }}
          </p>
        </div>
      </div>

      <div class="clean-card">
        <div class="card-header-dark">
          {{ 'FEATURES.WARRANTY.TITLE' | translate }}
        </div>
        <div class="card-body">
          <p>
            {{ 'FEATURES.WARRANTY.DESC' | translate }}
          </p>
        </div>
      </div>

    </div>

  </section>

</div>