<header class="bg-white ">
    <div class="container">
        <nav class="d-flex justify-content-end align-items-center position-relative">
            <img src="assets/logo.webp " alt="logo" class="position-absolute">

            <ul class="links" [ngClass]="{'open': close}">
                <li routerLink="/home" routerLinkActive="active" ><a>الرئيسية</a></li>
                <li routerLink="/about" routerLinkActive="active"><a>من نحن</a></li>
                <li routerLink="/projects" routerLinkActive="active"><a >مشاريعنا</a></li>
                <li routerLink="/services" routerLinkActive="active"><a>خدماتنا</a></li>
                <li routerLink="/contact" routerLinkActive="active"><a>اتصل بنا</a></li>
                <i class="fas fa-xmark d-lg-none d-block close" (click)="close = false"></i>
            </ul>
            <i class="bar fas fa-bars d-lg-none d-block" (click)="close = true" ></i>
        </nav>
    </div>
</header>
