<div class="project-card">
  
  <div class="project-img">
    <img src="../../../assets/pexels-zachtheshoota-1838640.jpg" alt="project">
    <span class="project-tag">جاهز للتسليم</span>
  </div>

  <div class="project-content">
    <h3 class="project-title">مشروع واجهة البحر</h3>

    <div class="project-info">
      <p><i class="fa-solid fa-ruler-combined"></i>تطوير عقاري </p>
      <p><i class="fa-solid fa-location-dot"></i> شمال جدة</p>
    </div>

    <button class="project-btn">عرض التفاصيل</button>
  </div>

</div>
