section{
  border-radius:0 0 30px 30px;
  position: relative;
  box-shadow: var(--shadow);
  background: #fff;
  /* background: linear-gradient(180deg, #fff, #f4f6f9); */
    
}
.inner{
  /* background-image: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png'); */
  
}

.wave{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}