section{
  /* border-radius: 30px 30px 0 0; */
  position: relative;
  /* background: linear-gradient(180deg, #fff, #f4f6f9); */

  background: #fff;
    
}
.inner{
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  
}
