<app-header></app-header>
<section class="project-details py-5 bg-white">
  <div class="container">
    <!-- TITLE + META -->
    <div class="row align-items-center mb-4">
      <div class="col-md-8">
        <h1 class="project-title">{{lang == "ar" ? project?.arTitle : project?.enTitle}}</h1>
        <p class="project-location">
          <svg class="icon16" viewBox="0 0 24 24">
            <path d="M12 2c4.4 0 8 3.6 8 8 0 5.3-8 12-8 12S4 15.3 4 10c0-4.4 3.6-8 8-8zm0 11a3 3 0 100-6 3 3 0 000 6z"
              fill="currentColor" />
          </svg>
          {{lang == "ar" ? project?.arLocationName : project?.enLocationName}}
        </p>
      </div>

      <div class="col-md-4 text-md-end mt-3 mt-md-0">
        @if(project?.proposalFilePath){
        <a class="project-btn " [href]="url + project?.proposalFilePath" target="_blank"> {{"PROJECT.PROFILE" |
          translate}}</a>
        }
        @if(project?.locationUrl){
        <a class="project-btn mx-3" [href]="url + project?.locationUrl" target="_blank"> {{"PROJECT.LOCATION" |
          translate}}</a>
        }
      </div>
    </div>

    <!-- HERO IMAGE -->
    <div class="project-hero-img mb-5">
      <img [src]="url + project?.interfaceImagePath" alt="" />
    </div>
    <!-- DESCRIPTION -->
    <h2 class="section-title">{{"PROJECT.ABOUT" | translate}}</h2>
    <p class="project-desc">
      {{lang == "ar" ? project?.arDescription : project?.enDescription}}
    </p>
    <!-- QUICK INFO -->
    <div class="quick-info row g-4 mb-5">
      <div class="col-md-3 col-6">
        <div class="qi-box">
          <h4>{{"PROJECT.STATUS" | translate}}</h4>
          <p class="status ready">{{lang == "ar" ? project?.projectStatus?.arName : project?.projectStatus?.enName}}</p>
        </div>
      </div>



      <div class="col-md-3 col-6">
        <div class="qi-box">
          <h4>{{"PROJECT.TYPE" | translate}}</h4>
          <p>{{lang == "ar" ? project?.projectType?.arName : project?.projectType?.enName}}</p>
        </div>
      </div>

    </div>


    <!-- GALLERY -->
    <h2 class="section-title mb-3">{{"PROJECT.PHOTOS" | translate}}</h2>
    <div class="gallery row g-3 mb-5">
      @for(img of project?.projectImages ; track img.id ){
      <div class="col-md-4 col-6">
        <div class="gallery-img"><img [src]="url + img.imagePath" alt="project picture" /></div>
      </div>
      }
    </div>
    <!-- viedo  -->
    @if(project?.videoPath){
    <h2 class="section-title mb-3 mt-5">{{"PROJECT.VIDEO" |translate}}</h2>
    <video controls [src]="url + project?.videoPath" class="video"></video>
    }

  </div>

  <iframe
  width="100%"
  height="300"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps?q=21.56650558497238, 39.15063712746945&output=embed">
</iframe>
</section>

  <app-footer></app-footer>