<section>
  <div class="moving-lines"></div>
  <div class="lay"></div>
  <div class="text">
    <h1>شركة جسور المتحدة القابضة</h1>
    <p>
      كيان رائد يجمع بين الرؤية المستقبلية والخبرة العميقة في مجالات
      التطويرالعقاري والتشييد وإدارة الاصول
    </p>
  </div>
  <div class="wave ">
    <svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,96L80,106.7C160,117,320,139,480,154.7C640,171,800,181,960,170.7C1120,160,1280,128,1360,112L1440,96V320H0Z"
      ></path>
    </svg>
  </div>
</section>






