
section{
    height: calc(110vh);
    position: relative;
    width: 100%;
}
section::before{
    content: '';
    position: absolute;
    background: #00000069;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
div h1{
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}
div p {
    color: #ffffffbe;
}
@media(max-width:768px){
    div{
        width: 80%;
    }
    div h1{
        font-size: 35px;
    }
    section{
        height: 100vh;
    }
    .text{
    top: 50%;
    }
}
@media(max-width:578px){
    div{
        width: 90%;
    }
    div h1{
        font-size: 25px;
    }
    p{
        font-size: 14px;
    }
}