.contact-hero {
  height: 50vh;
  background: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.contact-hero h1 {
  font-size: 3rem;
  font-weight: 900;
}

.contact-hero p {
  font-size: 16px;
  opacity: .85;
}


/* form  */

/* HEADINGS */
.sec-head {
  font-size: 28px;
  font-weight: 800;
  color: var(--blue);
}

/* FORM PANEL */
.form-panel {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #eee;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
}

/* INPUTS */
.modern-inp {
  background: #fafafa !important;
  border: 1px solid #ddd !important;
  padding: 12px 14px !important;
  border-radius: 6px;
  transition: 0.25s;
}

.modern-inp:focus {
  background: #fff !important;
  border-color: var(--main) !important;
  box-shadow: 0 0 8px rgba(19, 37, 57, .15);
}

.send-btn-modern {
  background: var(--blue);
  border: none;
  color: #fff;
  padding: 14px;
  border-radius: 6px;
  font-weight: 700;
  transition: 0.25s;
}

.send-btn-modern:hover {
  background: var(--main);
}

/* INFO PANEL */
.info-panel {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #eee;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
}

.info-line {
  color: #333;
  font-size: 15px;
  gap: 10px;
}

i {
  width: 26px;
  height: 26px;
  font-size: 25px;
  text-align: center;
  line-height: 26px;
  color: var(--main);
}

/* SOCIAL */
.social-head {
  font-size: 18px;
  font-weight: 700;
  color: var(--blue);
}

.social-round {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: var(--sec2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  color: var(--blue);
}

.social-round svg {
  width: 20px;
  height: 20px;
}

.social-round:hover {
  background: var(--blue);
  color: #fff;
  transform: translateY(-5px);
}




/* why to contact us  */

.contact-reasons {
  padding: 60px 0;
}

.section-title {
  margin-bottom: 20px;
  color: var(--blue);
}

.reasons-grid {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.reason-card {
  flex: 1;
  min-width: 250px;
  padding: 25px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: .3s ease;
}

.reason-card:hover {
  transform: translateY(-7px);
  border-color: var(--main);
}

@media(max-width:578px) {
  .contact-hero h1 {
    font-size: 35px;
  }

  .sec-head {
    font-size: 20px;
    font-weight: 800;
    color: var(--blue);
  }
  .form-label{
    font-size: 14px;
  }
}