
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}
label span{
    color: var(--main);
}
.form-group .form-control {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: border-color 0.3s;
}

.form-group .form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.1);
}

.hidden_form{
    position: fixed;
    left: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #fff;
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 15px 25px;
    width: 50%;
    height: 300px;
    z-index: 5;
}
.lay{
    position: fixed;
    z-index: 3;
    background: #0000008c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
}
.close{
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--blue);
  cursor: pointer;
}