<div class="dashboard-layout">

  <!-- ========== SIDEBAR ========== -->
  <aside class="sidebar">

    <div class="brand">
      <h3>لوحة التحكم</h3>
    </div>

    <nav class="side-nav">

      <a routerLink="/admin/dashboard/manage_projects" routerLinkActive="active">
        <span>المشاريع</span>
      </a>

      <a routerLink="/admin/dashboard/services" routerLinkActive="active">
        <span>الخدمات</span>
      </a>

      <a routerLink="/admin/dashboard/news" routerLinkActive="active">
        <span>الاخبار</span>
      </a>
      <a routerLink="/admin/dashboard/projects_status" routerLinkActive="active">
        <span>حالة المشاريع</span>
      </a>
      <a routerLink="/admin/dashboard/projects_type" routerLinkActive="active">
        <span>أنواع المشاريع</span>
      </a>



    </nav>
    <button (click)="logout()" >تسجيل الخروج</button>
  </aside>

  <!-- ========== MAIN AREA ========== -->
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>

</div>
