@import 'swiper/swiper-bundle.css';



@font-face {
  font-family: 'NOOR';
  src: url('assets/fonts/ArbFONTS-AGCLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NOOR';
  src: url('assets/fonts/ArbFONTS-AGCRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NOOR';
  src: url('assets/fonts/ArbFONTS-AGCBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


:root{
    
    --main:#788DA8;
    --sec:#101928;
    --blue:#132539;
    --sec2:#E2E2E2;
  --shadow:  0 2px 4px rgba(0, 0, 0, 0.1);

}

*{
      transition: 0.3s;
      direction: rtl;
      font-family: 'NOOR', sans-serif;
      box-sizing: border-box;
}

body{
    background-image: url(assets/architecture-5999913_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* components */
.title {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--blue);
  margin:0 auto 50px;
  position: relative;
  width: fit-content;
}

.title::after {
  content: "";
  width: 80px;
  height: 4px;
  background: var(--main);
  display: block;
  margin: 12px auto 0;
  border-radius: 8px;
}



.p-80{
    padding: 80px 0;
}
/* components */

.icon_box{
  width: 60px;
  height: 60px;
    border-radius: 50%;
  box-shadow: var(--shadow);
  text-align: center;
  line-height: 60px;
}
.icon{
  width: 40px;
  height: 40px;
}

.dash_btn{
  background: var(--blue);
  color: #fff;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  padding: 9px 18px;
  width: fit-content;
  margin: 30px auto 0;
  font-size: 17px;
  width: 100px;
}
.dash_btn:hover{
  background: var(--main);
}


.dash_table h2{
    margin-bottom: 30px;
    color: var(--main);
}


.dash_table .project-table {
  width: 100%;
  border-collapse: collapse;
  direction: rtl;
  font-family: 'Cairo', sans-serif;
  margin-top: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.dash_table .project-table thead {
  background-color: var(--blue);
  color: white;
}

.dash_table .project-table th, .dash_table .project-table td {
  padding: 14px;
  /* text-align: left; */
  border-bottom: 1px solid #ddd;
}

.dash_table .project-table tr:hover {
  background-color: #f1f1f1;
}

.dash_table .edit-btn,
.dash_table .delete {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-right: 8px;
  font-size: 14px;
}

.dash_table .edit-btn {
  background-color: var(--main);
}

.dash_table .delete {
  background-color: rgba(255, 0, 0, 0.623);
}


span.requierd{
  font-size: 12px;
  color: rgb(101, 8, 8);
}




.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
  font-weight: bold !important;
  color: var(--sec2) !important;
}
