<footer class="main-footer">

  <div class="footer-container">

    <!-- ===== Logo + About ===== -->
    <div class="footer-col footer-brand">
      <img src="assets/logo_with_out_bg.webp" class="footer-logo" alt="logo">

      <p class="footer-about">
        {{"FOOTER.ABOUT.DESC" |translate}}
      </p>

      <!-- <div class="footer-social">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div> -->
    </div>

    <!-- ===== Quick Links ===== -->
    <div class="footer-col">
      <h4>{{"FOOTER.QUICK_LINKS.TITLE" | translate}}</h4>
      <ul>
        <li><a href="#">{{"FOOTER.QUICK_LINKS.HOME" | translate}}</a></li>
        <li><a href="#">{{"FOOTER.QUICK_LINKS.PROJECTS" | translate}}</a></li>
        <li><a href="#">{{"FOOTER.QUICK_LINKS.SERVICES" | translate}}</a></li>
        <li><a href="#">{{"FOOTER.QUICK_LINKS.ABOUT" | translate}}</a></li>
        <li><a href="#">{{"FOOTER.QUICK_LINKS.CONTACT" | translate}}</a></li>
      </ul>
    </div>

    <!-- ===== Services ===== -->
    <div class="footer-col">
      <h4>{{"FOOTER.SERVICES.TITLE" | translate}}</h4>
      <ul>
        <li><a href="#">{{"FOOTER.SERVICES.DEVELOPMENT" | translate}}</a></li>
        <li><a href="#">{{"FOOTER.SERVICES.CONSTRUCTION" | translate}}</a></li>
        <li><a href="#">{{"FOOTER.SERVICES.CENTER_MANAGEMENT" | translate}}</a></li>
        <li><a href="#">{{"FOOTER.SERVICES.HOTEL_MANAGEMENT" | translate}}</a></li>
        <li><a href="#">{{"FOOTER.SERVICES.TECH_PRODUCTS" | translate}}</a></li>
      </ul>
    </div>

    <!-- ===== Contact ===== -->
    <div class="footer-col">
      <h4>{{"FOOTER.CONTACT.TITLE" |translate}}</h4>
      <p><i class="fa-solid fa-location-dot"></i> {{"FOOTER.CONTACT.LOCATION" |translate}}</p>
      <p><i class="fa-solid fa-phone"></i>966555846094+</p>
      <p><i class="fa-solid fa-envelope"></i>jusur321&#64;gmail.com</p>
    </div>

  </div>

  <div class="footer-bottom">
    All Rights Reserved 2025 ©
    <span class="footer-brand-name">Jasour United Holding</span>
  </div>
</footer>