.projects-premium-hero {
  height: 50vh;
background: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.ph-content h1 {
  font-size: 50px;
  font-weight: 900;
}
@media(max-width:578px){
  .ph-content h1 {
    font-size: 35px;
  }
}
.ph-content p {
  max-width: 450px;
  font-size: 16px;
  opacity: .85;
}


/* projects  */

.project-prem-card {
  position: relative;
  height: 320px;
  overflow: hidden;
  border-radius: 14px;
  cursor: pointer;
  transition: .4s;

  box-shadow: 0 18px 35px rgba(0,0,0,0.12);
}

.project-prem-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s ease;
}

.project-prem-card:hover img {
  transform: scale(1.12);
}

.proj-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(6px);

  color: #fff;
}

.proj-overlay h3 {
  font-size: 20px;
  font-weight: 800;
}

.proj-overlay p {
  font-size: 14px;
  opacity: .8;
  margin: 0;
}

.status {
  margin-top: 8px;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
}

.status.ready {
  background: #00a65a;
}

.status.work {
  background: #f39c12;
}

.status.soon {
  background: #7f8c8d;
}



/* states  */

.stat-box h2 {
  font-size: 34px;
  font-weight: 900;
  color: var(--blue);
}

.stat-box p {
  margin-top: -5px;
  color: #555;
  font-size: 15px;
}
